.card {
    flex-grow: 1;
    margin: 15px;
    max-width: 300px;
}

.avatar{
    width: 150px;
    color: #6a1b9a;
    position: center;
}

.media{
    height: 100px;
    width: 100%;
    object-fit: fill;
}